/* .header-scrolled{
    height: auto;
}
.header-wrapper .menu-navbar-nav{
    text-align: center;
    background-color: rgb(12, 12, 14);
    padding-bottom: 15px;
}
.header-wrapper .nav-item .nav-link{
    margin-top: 15px;
} */